body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.admin-container {
    display: flex;
    height: 100vh;
}

.left-panel {
    width: 30%;
    background-color: #f4f4f4;
    padding: 1rem;
    overflow-y: auto;
    border-right: 1px solid #ccc;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1rem;
}

.buttons button {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-item {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: white;
}

.product-item.selected {
    background-color: #dce9ff;
}

.form-panel {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.form-panel input,
.form-panel textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#doneBtn {
    background-color: #503939;
    color: white;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

#doneBtn:hover {
    background-color: #3d2d2d;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}